.mainBox {
    padding-top: 50px;
    padding-bottom: 63px;
}

.results {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 45px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #363636;
}