:root {
    --header-color: rgb(55, 46, 87);
    --header-shadow: rgb(55, 46, 87, 0.5);
    --button-color: rgba(55, 46, 87, 0.5);
    --button-color-hover: #fff;
    --logo-color: #fff;
    --input-color-onfocus: #1976d2;
}