:root {
    --header-color: rgb(55, 46, 87);
    --header-shadow: rgb(55, 46, 87, 0.5);
    --button-color: rgba(55, 46, 87, 0.5);
    --button-color-hover: #fff;
    --logo-color: #fff;
    --input-color-onfocus: #1976d2;
    --black-color: #000;
    --burgerMenu-color: rgb(62, 71, 71);
    --burgerMenu-wraper-color: rgba(77, 71, 71, 0.438);
    --mobile-width: 400px;
    --tablet-width: 860px;
}