:root {
    --main-back-color: #E6E9F2;
    --job-item-big-color: #fff;
    --job-item-small-color: #EFF0F5;
    --item-title-color: #3A4562;
    --item-details-color: #878D9D;
    --item-rating-big-color: #38415D;
    --desc-save-color: rgba(56, 65, 93, 0.82);
    --item-rating-small-color: #384564;
    --item-bookmark-big-color: #70778B;
    --pagination-big-color: #70778B;
    --pagination-small-color: #38415D;
    --pagination-small-activ-color: #55699E;
    --pagination-big-activ-color: #5876C5;
    --pagination-arrow-color: #979797;
    --pagination-background:#f9fafd;
    --additional-back-color: #A1B1DB;
    --additional-text-color: #55699E;
    --benefits-back-color: #FFCF00;
    --benefits-text-color: #988B49;
    --contact-title-color: #E7EAF0;
    --contact-telephone-icon-color: rgba(255, 255, 255, 0.6696);
    --contact-text-big-color: #E8EBF3;
    --posted-at-color: rgba(56, 65, 93, 0.356);
    --contact-back-color: #2A3047;
}