@import "../../stylesheet/mixin";

.yellow {
    background-color: yellow;
    margin-right: 0.2em;
}

// .linkFrame {
//     &:hover {
//         box-shadow: 0px 0px 18px rgba(45, 44, 44, 0.345);
//         transform: scale(1.03);
//     }
// }

.frame {
    box-sizing: border-box;
    padding-bottom: 25px;
    @include mq(desktop){
        width: 400px;
        height: 530px;
    }
    &:hover .linkToMore::after{
        transform: translateX(0%);
        transition:transform 500ms linear;
    }
    &:hover .title {
        text-decoration: underline;
    }
}

.imageThumb {
    height: 217px;
    width: 100%;
    max-height: 217px;
    margin-bottom: 25px;

    @include mq(desktop){
        // width: 400px;
    }
}

.image {
    font-size: 0;
    object-fit: cover;
    opacity: 0;
    transition: all 1000ms ease-in;
}

.onloadedImage {
    opacity: 1;
    // animation-name: imageAnimation;
    // animation-duration: 1000ms;
    // animation-timing-function: cubic-bezier(.46,.1,.78,.67);
}

.frameContent {
    height: auto;
    color: #363636;
    text-align: start;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;

    @include mq(tablet) {
        height: 263px;
    }
    & > .dateText {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        opacity: 0.6;
        margin-bottom: 24px;
        & > svg {
            width: 16px;
            height: 16px;
            color: #363636;
            opacity: 0.6;
            margin-right: 8px;
            position: relative;
            top: -1px;
        }
    }

    // &>.animationBox{
    //     height: 98px;
    //     overflow: hidden;
    // }
    & .title {
        // flex-grow: 1;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.21;
        // margin-bottom: 15px;
        // height: 98px;
        // width: 350px;
        // overflow: hidden;
        @include mq(s-mobile){
            font-weight: 400;
            font-size: 24px;
        }
    }

    & .textList {
        &>li {
            display: inline;
        }
    }
    &>.text {
        // flex-grow: 1;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        padding-bottom: 13px;
        // height: 96px;
        @include mq(s-mobile){
        font-size: 16px;
    }
    }
    & > .linkToMore{
        width: 114px;
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
        color: #363636;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-decoration: none;
        display: flex;
        align-items: center;
        &>svg{
            margin-left: 6px;
            width: 15px;
            height: 13px;
        }
        &::after {
            content: "";
            // z-index: 10;
            width: 98%;
            height: 1px;
            background-color: black;
            position: absolute;
            bottom: 0;
            transform: translateX(-100%);
        }
    }
}

.animationBox {
    flex-grow: 1;
    overflow: hidden;
    margin-bottom: 15px;
}


@keyframes imageAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}