@import "../../stylesheet/mixin";

.mainBox {
    width: 100%;
    margin-bottom: 40px;

    @include mq(mobile) {
        
    }

    @include mq(tablet) {
        width: 500px;
    }

    @include mq(desktop) {
        width: 600px;
    }
}

.text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #363636;
    margin-bottom: 10px;
}

